:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
  opacity: 1;
  z-index: 1000;
  animation-name: FadeIn;
  transition: all 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.hide {
  animation-name: FadeOut;
}
